*{
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

body{
    height: 100%;
    width: 100%;
}

.content#bodycontainer{
    min-height: 100%;
}

.siteheader_topContainer{
    background-color: #707070;
    display: flex;
    justify-content: center;
    height:50px;
    align-items: center;
    /* margin-bottom: 10px; */
}

a.siteheader_topContainer{
    color: white;
    text-decoration: none;
}

a.siteHeader_logo{
    color: black;
     text-decoration: none;
}

.siteHeader_contents{
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 20px;
    /* padding-left: 20px;
    padding-right:20px; */
    max-width: 100%;
    align-items: center;
    box-shadow: 1px .25px 3px;
}


.siteHeader_logo > *{
    font-size: 30px;

}

.siteHeader_rightElements{
    display: flex;
    justify-content: center;
    align-items: center;
}

.siteHeader_search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px
}

.siteHeader_addItem img{
    height: 30px;
    margin-right: 20px;
}

.siteHeader_searchIcon img{
    height: 30px;
    max-height: 100%;
    width: auto;
}

.siteHeader_profileIcon img{
    height: 30px;
    max-height: 100%;
    width: auto;
}

.main-content {
    background-color: rgb(255, 250, 243);
    height: 82vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.main-content-table{
    /* margin-top: 70px; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}



.main-table{
    width: 80%;
    border-collapse: collapse;
    /* padding: 10px; */
}

.main-table th{
    background-color: azure;
    height:50px;
}

.main-table th:first-child {
    background-color: azure;
    border-top-left-radius: 10px;
}

.main-table th:last-child{
    border-top-right-radius: 10px;
}

.main-table th, .main-table td {
    border: 1px solid black;
}

th {
    width: 20%;
}

th.title{
    width: 40%;
}

th.pages {
    width: 10%;
}

tr {
    height: 50px;
}

.main-table td {
    text-align: center;
    background-color: white;
}


footer{
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
    
}
.book_modal{
    display: none;
}

/* Modal Positioning */
:modal {
    /* display: none;    */
    position: absolute;
    /* display: flex; */
    width: 400px;
    height: 300px;
    top: 50%;
    bottom: 50%;
    margin-top: -150px;
    left: 50%;
    right: 50%;
    margin-left: -200px;
    margin-right: -200px;
    border-radius: 20px;
    border: 3px solid rgb(85, 218, 252)


}

#bookDialog{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: baseline;
}

input.block, label.block {
    display: block;
}

p.absolute {
    position: absolute;
    top:150px;
    left:50px;
}




/* Modal Styling */






